.mainimg {
  width: 320px;
  height: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.subimg {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imgcontainer {
  width: 100%;
  align-content: center;
  align-items: center;
}

.title {
  font-family: 'Cormorant SC';
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 48px;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 24px;
}

.nextButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  font-family: 'Cormorant SC';
  font-size: 48px;
  text-align: center;
  padding: 12px;
}

.nextButtonSmall {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Cormorant SC';
  font-size: 24px;
  text-align: center;
  padding: 4px;
  padding-left: 18px;
  padding-right: 18px;
}

.flexbox {
  display: flex;
}

.col-50 {
  flex: 50%;
}

.col-70 {
  flex: 70%;
}

.col-30 {
  flex: 30%;
}

.rules {
  font-family: 'Cormorant SC';
  font-size: 24px;
}

.container {
  display: block;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.bullet {
  margin-bottom: 16px;
}

.bonerating {
  font-family: 'Cormorant SC';
  font-size: 36px;
  display: inline-block;
  margin: 0px;
}

.boneimg {
  width:80px;
  display: inline-block;
  margin: 0px;
}

.center {
  display: block;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}